.about__us {
  @include padding-inline;

  @include on-tablet {
    padding-left: 0;
  }

  &__container {
    width: 320px;
    height: auto;
    margin: 110px auto 0;

    display: grid;
    grid-template:
      'title'
      'designedImage'
      'description'
      'link'
      auto / auto;

    @include on-tablet {
      width: 768px;
      margin: 140px auto 0;

      grid-template-columns: 374px 240px;
      column-gap: 20px;

      grid-template-areas:
        'designedImage | title'
        '. | description'
        '. | link';
    }

    @include on-desctop {
      grid-template-columns: 374px 340px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: $c-dark-gray;
    text-transform: uppercase;
    margin-bottom: 30px;

    grid-area: title / 1;

    @include on-tablet {
      grid-area: title / 2;
      grid-row: 1 / 2;
    }

    @include on-desctop {
      font-size: 36px;
      line-height: 46px;
    }
  }

  &__image {
    background-image: url(../images/mobile/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 259px;
    height: 210px;
    margin-bottom: 20px;

    grid-area: designedImage / 1;

    @include on-tablet {
      background-image: url(../images/tablet/5.jpg);
      background-size: contain;

      margin-bottom: 0;
      max-width: 374px;
      height: 415px;

      grid-row: 1 / 4;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $c-gray;
    margin-bottom: 30px;

    grid-area: description / 1;

    @include on-tablet {
      margin-bottom: 60px;

      grid-area: description / 2;
      grid-row: 2 / 3;
    }

    @include on-desctop {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__link {
    @include link-decoration;

    grid-area: link;

    @include on-tablet {
      box-sizing: border-box;
      height: 15px;
      grid-area: link / 2;
      grid-row: 3 / 4;

      margin-bottom: 67px;
    }

    &::after {
      @include link-underline;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
