.about__us {
  padding-inline: 12px;
  margin-bottom: 110px;

  @include padding-inline;

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: $c-dark-gray;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__image {
    background-image: url(../images/mobile/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 259px;
    height: 210px;
    margin-bottom: 20px;
  }

  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $c-gray;
    margin-bottom: 30px;
  }

  &__link {
    @include link-decoration;

    &::after {
      @include link-underline;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
