.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & :not(:first-of-type) {
    display: none;
  }

  @include padding-inline;

  margin: 110px auto 0;

  @include on-tablet {
    & :not(:first-of-type) {
      display: flex;
    }

    flex-flow: row wrap;
    align-items: flex-start;
    gap: 60px 20px;

    margin: 140px auto 0;
  }

  // створити масив з даними та наповнити картки через js
}
