.features {
  margin: 110px auto 0;

  @include on-tablet {
    margin: 140px auto 0;
  }

  &__title {
    @include padding-inline;

    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: $c-dark-gray;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__container {
    @include padding-inline;

    display: flex;
    flex-direction: column;

    background-color: #d6ecec;
    background-image: url(../images/mobile/5.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 320px 173px;

    @include on-tablet {
      align-items: flex-start;
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: 435px auto;
      padding-left: 90px;
      margin: 0 34px;
    }
  }

  &__container__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0c797a;
    text-transform: uppercase;
    text-align: left;
    padding-top: 30px;
    margin-bottom: 20px;

    @include on-tablet {
      padding-top: 60px;
    }
  }

  &__list {
    text-decoration: none;
    list-style: none;
    margin-bottom: 50px;

    @include on-tablet {
      width: 260px;
    }
  }

  &__list__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $c-dark-gray;
    padding-left: 20px;
    position: relative;

    @include on-tablet {
      width: 260px;
      margin-top: 10px;
    }

    &::before {
      content: '';
      display: block;
      background-color: $c-dark-gray;
      width: 4px;
      height: 4px;
      top: calc(50% - 3px);
      left: 0;
      border-radius: 50%;
      position: absolute;
    }
  }

  &__arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__pages {
    display: flex;
    justify-content: center;
    text-decoration: none;

    margin-bottom: 90px;

    & :not(first-child) {
      align-items: end;
    }

    &--separator {
      padding-inline: 3px;
    }
  }

  &__pages--current {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $c-dark-gray;
  }

  &__pages--left {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #0c797a;
  }
}
