.icon {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;

  &--logo {
    width: 161px;
    background-image: url(../images/icons/logo-mobile.svg);

    // передивитись доцільність цього марджину

    margin-right: 67px;

    @include hover('transform', scale(1.2));

    @include on-desctop {
      margin-right: 0;
    }
  }

  &--menu {
    background-image: url(../images/icons/menu.svg);

    @include hover('transform', scale(1.5));
  }

  &--close {
    background-image: url(../images/icons/close.svg);
    width: 16px;
    background-size: contain;

    @include hover('transform', scale(1.5));
  }

  &--futuristicDesign {
    background-image: url(../images/icons/vector.svg);
    width: 50px;
    height: 40px;
  }

  &--tweeterSpeakerSystem {
    background-image: url(../images/icons/speaker.svg);
    width: 46px;
    height: 40px;
  }

  &--multiroomSystem {
    background-image: url(../images/icons/wifi.svg);
    width: 46px;
    height: 37px;
  }

  &--intuitiveLightingSystem {
    background-image: url(../images/icons/theme.svg);
    width: 44px;
    height: 44px;
  }

  &--left {
    background-image: url(../images/icons/arrow-left.svg);
    width: 48px;
    height: 14px;

    @include hover('background-image', url(../images/icons/arrow-left-hover.svg));
  }

  &--right {
    background-image: url(../images/icons/arrow-right.svg);
    width: 48px;
    height: 14px;
    margin-left: -2px;

    @include hover('background-image', url(../images/icons/arrow-right-hover.svg));
  }

  &--facebook {
    background-image: url(../images/icons-social-media/facebook.svg);
    width: 24px;

    @include hover('transform', scale(1.5));
  }

  &--twitter {
    background-image: url(../images/icons-social-media/twitter.svg);
    width: 24px;

    @include hover('transform', scale(1.5));
  }

  &--instagram {
    background-image: url(../images/icons-social-media/instagram.svg);
    width: 24px;

    @include hover('transform', scale(1.5));
  }
}

