@import 'utils';
@import 'fonts';
@import 'typography';
@import './icons';
@import './header';
@import './navigation';
@import './language';
@import './aside-menu';
@import './benefits';
@import './benefitCard';
@import './presentation';
@import './about-us';
@import './technology';
@import './testimonilas';
@import './user-card';
@import './features';
@import './questions';
@import './footer';

// html {
//   margin: 0;
//   padding: 0;
// }

.page {
  background-color: $c-white;
  margin: 0 auto;
  font-family: Inter, sans-serif;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
    padding: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    pointer-events: none;

    &:target {
      opacity: 1;
      pointer-events: all;
    }
  }
}
