@import 'utils';
@import 'fonts';
@import 'typography';
@import 'hero';
@import 'benefits';
@import 'presentation';

body {
  @include for-text;

  box-sizing: border-box;
  color: $text-c-gray;
  background: $c-light-gray;
}
