.nav {
  display: flex;

  // justify-content: center;

  align-items: center;
  justify-content: space-between;

  // align-items: start;

  padding-block: 25px;

  @include padding-inline;

  @include on-tablet {
    position: relative;
  }

  &__link {
    display: block;
  }
}
