.questions {
  @include padding-inline;

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: $c-dark-gray;
    text-transform: uppercase;
    margin-bottom: 27px;
  }

  &__form {
    width: 260px;
    margin: 0 auto 110px;
  }

  &__form__input {
    box-sizing: border-box;
    border: 1px solid #828282;
    padding: 12px 20px;
    width: 100%;
    margin-bottom: 20px;

    &::placeholder {
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #bdbdbd;
    }
  }

  &__form__textarea {
    box-sizing: border-box;
    border: 1px solid #828282;
    width: 260px;
    height: 128px;
    margin-bottom: 30px;
    outline: none;
    resize: none;

    &::placeholder {
      font-family: Inter, sans-serif;
      padding: 12px 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #bdbdbd;
    }
  }

  &__form__btn {
    font-family: Inter, sans-serif;
    background-color: #0db2b3;
    border: none;
    color: $c-white;
    text-transform: uppercase;
    padding: 13px 35px;
    box-sizing: border-box;

    // width: 102px;
  }
}
