.technology {
  padding-inline: 12px;
  margin-bottom: 110px;

  @include padding-inline;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: $c-dark-gray;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__image {
    background-image: url(../images/mobile/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 259px;
    height: 210px;
    margin-bottom: 20px;
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $c-gray;
    margin-bottom: 30px;
  }

  &__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $c-green;

    // position: relative;
    // border-bottom: 51px;
    // transform: translateX(51px);
    // text-decoration: none;
  }

  &__link::after {
    content: '';
    display: block;
    width: 51px;
    height: 1px;
    background-color: $c-green;

    // position: absolute;
    // bottom: -2px;
    // left: 0;
    // transform: translateX(0);
    transition: transform 0.3s;
  }

  &__link:hover::after {
    transform: translateX(100%);
  }
}
