@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-tablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-md {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin on-ld {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin for-headers {
  font: 700 30px/40px Inter, sans-serif;
  text-transform: uppercase;
}

@mixin for-text {
  font: 400 16px/24px Inter, sans-serif;
}

@mixin padding-inline {
  padding-inline: 30px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-ld {
    padding-inline: 123px;
  }
}
